body{
    background-color: #303030;
}

p{
    color: gold;
}

.jumbotron{
    background-color: gold;
}

.input-group-text{
    color: gold;
    background-color: #303030;
}

#imgHeight{
    height: 450px;
}

#bioPic{
    width: 350px;
    height: 400px
}